@media only screen and (max-width:900px) {

    #header .nav .depth1 > li > a { 
        font-size:18px; color:#fff;  
        padding:0px 20px; 
    }

}

@media only screen and (max-width:800px) {
    
.slide-outer .slide .text p:nth-child(1) { 
    font-size: 4.375vw; 
    max-width: 300px; }
#header { position:relative; height:90px; 
    transition:all 0.5s; overflow:hidden }
#header.on { background:rgba(0,0,0,1); overflow:visible }
#header h1 { padding-top:35px; 
    text-align:center; }
#header h1 img { width:200px; }    
#header .open-gnb { display:block; 
    position:absolute;
    top:50%; transform:translateY(-50%);
    left:15px; width:25px; 
    height:17px; z-index:9999999 }
#header .open-gnb  span  { display:block; 
    width:25px; height:3px;
    background:#fff; margin-bottom:4px; 
    border-radius:10px; transition:all 0.5s  } 
#header.on  .open-gnb span:nth-of-type(2) { display:none }      
#header.on  .open-gnb span:nth-of-type(1) { 
    transform:rotate(45deg); 
    position:absolute; top:10px; left:0px;
}      
#header.on  .open-gnb span:nth-of-type(3) { 
    transform:rotate(-45deg); 
    position:absolute; top:10px; left:0px;
}    
    
    
#header .nav { 
    background:rgba(0,0,0,1);
    position:fixed; min-width:320px; height:100%;
    top:90px; right:-320px; text-align:center;
    transform:translateY(0%);
    padding-top:40px; 
}
#header.on .nav { display: block;}    
#header .nav .depth1 > li { display:block; }
#header .nav .depth1 > li > a { 
    font-size:18px; color:#fff;  
    padding:10px 20px; display:block;
}
    

}

@media only screen and(max-width:600px) {

.slide-outer .slide .text p:nth-child(1) { 
    font-size: 4.375vw;
    max-width: 320px; }
}
.slide-outer .slide .text p:nth-child(2) {
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: 6px;
}